.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination__button {
  width: 100px;
  border: none;
  padding: 16px;
  color: white;
  background-color: crimson;
  cursor: pointer;
}
