.write__editor {
  display: flex;
  gap: 20px;
  height: 700px;
  position: relative;
}

.write__button,
.add__button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add__button {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 100%;
  left: 50px;
}

.write__input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  text-wrap: wrap;
}

.write__input::placeholder {
  color: #b3b3b1;
}

.text__area {
  width: 100%;
}

.write__public {
  position: absolute;
  padding: 10px 20px;
  top: 30px;
  right: 20px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
